body {
    font-family: 'Roboto Slab', serif; /* Use Roboto Slab as the primary font */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.red-theme {
    background-color: #f7e1e1; /* Muted red */
}

.wrapper {
    flex: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #b71c1c; /* Darker red */
    color: #fff;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between; /* Align header content with menu */
    align-items: center; /* Center align items vertically */
}

header h1 {
    margin: 0;
}

nav {
    text-align: right; /* Align the menu to the right */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px; /* Add margin on the left to separate menu items */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px; /* Increase padding to make menu items more prominent */
    border-radius: 5px; /* Add some rounded corners for a nicer look */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Lighten the background on hover */
}

.hero {
    background-color: #b71c1c; /* Darker red */
    color: #fff;
    text-align: center;
    padding: 80px 0;
}

.about,
.contact {
    padding: 40px 0;
}

.gallery {
    padding: 40px 0;
}

.artwork {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.artwork img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #b71c1c; /* Darker red */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

/* Additional Styles */

.box-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #ff6347; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}

.gradient-background {
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient background */
    /* Add vendor prefixes for wider browser support */
}

.rounded-corners {
    border-radius: 8px; /* Rounded corners */
}

.transition {
    transition: all 0.3s ease; /* Smooth transition for all properties */
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure header appears above other content */
}

.overlay {
    position: relative;
}

.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
}

